#section1
{
    padding:50px 0px;
}
#section1 .content h2
{
    font-size: 30px;
    font-weight: 500;
    padding-top:30px;
}
#section1 .content .desc
{
    font-size: 18px;
    margin:10px 0px;
}
#section1 .content h3
{
    font-weight: 400;
}
.opentime
{
    font-size: 18px;
    margin:10px 0px;
}
.rating
{
    background-color: #26A541;
    padding:3px 10px;
    color: white;
    border-radius: 5px;
}
.links a
{
    font-size: 20px;
    display: inline-block;
    margin:10px 20px 10px 0px;
    padding:10px 30px;
    color:white;
    text-decoration: none;
}